<div layout="row" layout-align="center center">
  <div flex="50">
    <h2 class="md-headline">Recruiters Create an Account</h2>
    <md-content>
      <md-input-container>
        <label>Username</label>
        <input type="text" name="username" ng-model="recruiter.username" required>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" name="password" ng-model="recruiter.password"  required>
      </md-input-container>
      <md-input-container>
        <label>Company Name</label>
        <input type="text" name="name" ng-model="recruiter.name" required>
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input type="email" name="email" ng-model="recruiter.email" required>
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit" ng-click="createRecAcc()">Submit</md-button>
    </md-content>
  </div>
</div>

<!-- old plain angular
<div>
    <h1>Recruiters Create an Account</h1>
  <form name="login"ng-submit="submitForm(login.$valid)" novalidate>
    <div  ng-class="{'has-error': login.username.$invalid}">
        <label>Username: <input type="text" placeholder="Username" name="username" ng-model="recruiter.username" required></label>
        <p ng-show="login.username.$invalid && login.username.$touched" >UserName required</p>
    </div>

    <div ng-class="{'has-error': login.password.$invalid}">
        <label>Password: <input type="password" placeholder="Password"name="password" ng-model="recruiter.password" required></label>
        <p ng-show="login.password.$invalid && login.password.$touched" >Password required</p>
    </div>

    <div  ng-class="{'has-error': login.companyName.$invalid}">
        <label>Company Name: <input type="text" placeholder="Company name" name="companyName" ng-model="recruiter.companyName" required></label>
        <p ng-show="login.companyName.$invalid && login.companyName.$touched" >Company Name required</p>
    </div>

    <div  ng-class="{'has-error': login.email.$invalid}">
        <label>Email: <input type="email" name="email"placeholder="Email" ng-model="recruiter.email" required></label>
        <p ng-show="login.email.$invalid && login.email.$touched" >Email required</p>
    </div>

    <input type="submit" ng-click="createRecAcc()" ng-disabled="login.$invalid">
  </form>
</div>
 -->
