<div>
  <h1>Applicants, create an account</h1>
  <form id="appNewAccountForm">
    <label>First Name: <input type="text" placeholder="First name"name="firstName" ng-model="applicant.firstName" required></label><br>
    <label>Last Name: <input type="text" placeholder="Last name" name="lastName" ng-model="applicant.lastName" required></label><br>
    <label>Email: <input type="email" name="email" placeholder="Email"ng-model="applicant.email" required></label><br>
    <label>Username: <input type="text" name="username" placeholder="Username" ng-model="applicant.username" required></label><br>
    <label>Password: <input type="password" name="password"placeholder="Password" ng-model="applicant.password"  required></label><br>
    <label>Resume: <input id="resumeBody" type="text" name="resume" placeholder="Resume" ng-model="applicant.resume" required></label><br>
    <input type="submit" ng-click="createAccount()" />
  </form>
</div>
