<div layout="row" layout-align="center center">
  <div flex="50" layout="column">
    <h2 class="md-headline">Create your applicant profile</h2>
    <form name="appNewAccountForm" class="signupForm" id="appNewAccountForm">
      <md-content layout="row">
        <md-input-container flex="50">
          <label>First Name</label>
          <input type="text" name="firstName" ng-model="applicant.firstName" required>
        </md-input-container>
        <md-input-container flex="50">
          <label>Last Name</label>
          <input type="text" name="lastName" ng-model="applicant.lastName" required>
        </md-input-container>
      </md-content>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label>Email</label>
          <input required type="email" name="email" ng-model="applicant.email" ng-pattern="/^.+@.+\..+$/">
        </md-input-container>
        <md-input-container flex="40">
          <label>City</label>
          <input type="text" name="city" ng-model="applicant.city" required></input>
        </md-input-container>
        <md-input-container flex="15">
          <label>State</label>
            <md-select ng-model="applicant.state" flex>
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
        </md-input-container>
      </div>
      <div layout="row" layout-xs="column" flex layout-align="space-between">
        <md-input-container flex>
          <label>Username</label>
          <input type="text" name="username" ng-model="applicant.username" required>
          <span style="color:red">{{message}}</span>
        </md-input-container>

        <md-input-container flex>
          <label for="newPassword">Password</label>
          <input type="password" name="newPassword" ng-model="applicant.password.new" ng-model-options="{ updateOn: 'blur' }" required minlength="8">
          <span ng-show="appNewAccountForm.newPassword.$dirty && appNewAccountForm.newPassword.$invalid">Password must be 8 characters or longer.
          </span>
        </md-input-container>
        <md-input-container flex>
          <label for="newPasswordConfirm">Verify Password</label>
          <input type="password" name="newPasswordConfirm" ng-model="applicant.password.confirm" ng-model-options="{ updateOn: 'blur' }" value-matches="applicant.password.new" required/>
          <span ng-show="appNewAccountForm.newPasswordConfirm.$dirty && appNewAccountForm.newPasswordConfirm.$invalid">Passwords must match.
          </span>
        </md-input-container>
      </div>
      <div flex layout="column">
        <md-input-container flex>
          <label>Education</label>
          <textarea ng-model="applicant.education" required></textarea>
        </md-input-container>
        <md-input-container flex>
          <label>Work Experience</label>
          <textarea ng-model="applicant.workExp" required></textarea>
        </md-input-container>
        <md-input-container flex>
          <label>Resume</label>
          <textarea rows="10" type="text" ng-model="applicant.resume" required></textarea>
          <span ng-show="resumeCheck" style="color: red">You should not put your name in the resume</span>
        </md-input-container>
      </div>
      <div flex layout="row" layout-align="end start">
        <md-button class="md-raised md-primary" type="submit" ng-disabled="appNewAccountForm.$invalid" ng-click="createAccount()">Sign Up</md-button>
      </div>
    </form>
  </div>
</div>
