<md-content>
  <md-tabs>
    <md-tab label="Resume">
      <md-content class="md-padding" flex layout="column">
        <div flex layout="row" layout-align="start end">
          <div flex="20">
            <h4>ID: </h4><p>{{interestedApplicant.id}}</p>
          </div>
          <div flex="20">
            <h4>City: </h4><p>{{interestedApplicant.city}}, {{interestedApplicant.state}}</p>
          </div>
        </div>
          <div>
            <h4>Education: </h4><p>{{interestedApplicant.education}}</p>
          </div>
        <div>
          <h4>Work Experience: </h4><p>{{interestedApplicant.work_exp}}</p><br>
          <h4>Resume: </h4><p>{{interestedApplicant.resume}}</p>
        </div>
        <div layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" type="submit" ng-click="isNotInterested(interestedApplicant.id)">Not Interested</md-button>
          <md-button class="md-raised md-primary" type="submit" ng-click="isInterested(interestedApplicant.id)">Interested</md-button>
        </div>
      </md-content>
    </md-tab>
    <md-tab label="Contact">
      <md-content class="md-padding">
        <h2 class="md-headline">Send an email</h2>
        <md-content>
          <md-input-container>
            <label>Message</label>
            <textarea name="message" ng-model="contactMessage"></textarea>
          </md-input-container>
          <div layout="row" layout-align="center end">
            <md-button class="md-raised md-primary" type="submit" ng-click="sendEmail()">Submit</md-button>
          </div>
        </md-content>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>


