<div class="md-padding">
  <h2 class="md-headline">Welcome {{companyName}}!</h2>
  {{message}}
  <md-button class="md-raised" ng-click="newJobModal()">Click here to post a job</md-button>
  <div flex layout="row">
    <div flex="40">
    <h3 class="md-title">Job listings:</h3>
      <md-card class="md-padding" ng-repeat="job in postedJobs.results">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{job.title}} - {{postedJobs.applicantCount[$index]}} Applicants</span>
            <span class="md-subhead">{{job.createdAt | date:'MM/dd/yyyy'}}<br>{{job.city}}, {{job.state}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout="row" layout-align="space-between">
            <div flex="20">
              <h4>Industry: </h4><p>{{job.industry}}</p>
            </div>
            <div flex="25">
              <h4>Career Level: </h4><p>{{job.career_level}}</p>
            </div>
            <div flex="20">
              <h4>Job Type: </h4><p>{{job.job_type}}</p>
            </div>
          </div>
          <div ng-show="showJobDetails">
            <h4>Description: </h4><p class="prewrap">{{job.description}}</p><br>
            <h4>Qualifications: </h4><p class="prewrap">{{job.qualifications}}</p>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="showJobDetails=!showJobDetails">View more</md-button>
          <md-button ng-click="getApplicants(job.id, job)">Show applicants</md-button>
        </md-card-actions>
      </md-card>
    </div>
      <div flex="60">
      <h3 class="md-title">Select a job to view applicants</h3>
        <md-card class="{{applicant.jobs_applicants.isInterested}} " ng-repeat="applicant in applicantsToView">
          <md-card-content>
            <div layout="row" layout-align="space-between">
              <div flex="20">
                <h4>ID Number: </h4><p>{{applicant.id}}</p><br>
              </div>
              <div flex="20">
                <h4>City: </h4><p>{{applicant.city}}, {{applicant.state}}</p><br>
              </div>
            </div>
            <h4>Education: </h4><p class="prewrap">{{applicant.education}}</p>
<!--             <div>
              <h4>Work Experience: </h4>{{applicant.work_exp}}<br>
              <h4>Resume: </h4>{{applicant.resume}}<br>
            </div> -->
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="contactApplicantModal($index)">Contact</md-button>
          </md-card-actions>
        </div>
      </div>
    </div>
</div>
