<div>
  <h2 class="md-headline">Home</h2>
  <md-button ui-sref="allJobs" class="md-raised">Click here to view job postings</md-button>
</div>
<div>
  <h2 class="md-headline">Welcome Uber!</h2>
  <h3 class="md-title">Job Postings</h3>
  <h3 class="md-title">Here are your job listings:</h3>
  <md-button class="md-raised" ng-click="getJobs()">Click here to view job postings in db:</md-button><br>
  Retrieved jobs from db:<br>
  <div ng-repeat="job in postedJobs">
    <h4>{{job.title}}</h4><br>
    Location: {{job.location}}<br>
    Industry: {{job.industry}}<br>
    Description: {{job.description}}<br>
    Career Level: {{job.career_level}}<br>
    Job Type: {{job.job_type}}<br>
    </div>
</div>
