<div>
  <h2 class="md-headline">Job Postings</h2>
  <md-button class="md-raised" ng-click="getAllJobs()">Click here to fetch all jobs</md-button><br>
  <md-button ui-sref="recLogin" class="md-raised">Click here to post a job</md-button>
  <ul>
    <li ng-repeat="job in jobs"><a href="">{{job}}</a>
    <md-button ng-click="submitApplication()">Apply to This Job</md-button>
    </li>
  </ul>
  <md-content class="md-padding" class="jobCard" ng-repeat="job in fetchedJobs">
    <md-card>
      <md-card-title class="md-headline">{{job.title}}</md-card-title>
      <md-card-content>
        <h4>Location: </h4><p>{{job.location}}</p>
        <h4>Description: </h4><p>{{job.description}}</p>
        <h4>Posted at: </h4><p>{{job.createdAt}}</p>
        <h4>Experience: </h4><p>{{job.experience}}</p>
      </md-card-content>
      <md-button class="md-raised" ng-click="submitApplication(job.id)">Apply to Job id {{job.id}}</md-button>
    </md-card>
  </md-content>
</div>
