<div md-padding>
  <md-content layout="row" layout-align="end">
    <input flex=30 type="text" ng-model="searchText" placeholder="search" />
  </md-content>
  <h2 class="md-headline">Job Postings</h2>
  <md-button class="md-raised" ng-click="showAppInfo()">Applicants! View your profile</md-button><br>
  <md-button ui-sref="recruiters" class="md-raised">Recruiters! Click here to see your posted jobs</md-button>
  <div layout="row">
    <div id="jobFilterColumn" layout="column" flex="20">
      <div layout="column">
        <fieldset class="standard">
          <lengend ng-click="citiesDropdownShown=!citiesDropdownShown">Location</lengend>
          <div>
            <div ng-show="citiesDropdownShown" ng-repeat="city in cities" class="md-caption animate-repeat">
              <md-checkbox ng-checked="exists(city.shortName, cityFilter)" ng-click="toggle(city.shortName, cityFilter)" value="city.shortName">
                {{city.fullName}}
              </md-checkbox>
            </div>
          </div>
        </fieldset>
      </div>
      <div layout="column">
        <fieldset class="standard">
          <lengend ng-click="jobTypeDropdownShown=!jobTypeDropdownShown">Job Type</lengend>
          <div>
            <div ng-show="jobTypeDropdownShown" ng-repeat="type in jobTypes" class="md-caption">
              <md-checkbox ng-checked="exists(type, jobTypeFilter)" ng-click="toggle(type, jobTypeFilter)">
                {{type}}
              </md-checkbox>
            </div>
          </div>
        </fieldset>
      </div>
      <div layout="column">
        <fieldset class="standard">
          <lengend ng-click="careerLevelDropdownShown=!careerLevelDropdownShown">Career Level</lengend>
          <div>
            <div ng-show="careerLevelDropdownShown" ng-repeat="level in careerLevels" class="md-caption animate-repeat">
              <md-checkbox ng-checked="exists(level, levelFilter)" ng-click="toggle(level, levelFilter)">
                {{level}}
              </md-checkbox>
            </div>
          </div>
        </fieldset>
      </div>
      <div layout="column">
        <fieldset class="standard">
          <lengend ng-click="industryDropdownShown=!industryDropdownShown">Industry</lengend>
          <div>
            <div ng-show="industryDropdownShown" ng-repeat="industry in industries" class="md-caption animate-repeat">
              <md-checkbox ng-checked="exists(industry, industryFilter)" ng-click="toggle(industry, industryFilter)">
                {{industry}}
              </md-checkbox>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div id="jobPostings" flex="80">
      <div flex-gt-xs="50" class="jobCard" ng-repeat="job in fetchedJobs | orderBy:'-createdAt' | filter:searchText | sidebar:jobTypeFilter | sidebar:cityFilter | sidebar:levelFilter">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{job.recruiter.name}} - {{job.title}}</span><br>
              <span class="md-subhead">{{job.city}}, {{job.state}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <h4 class="md-title">Posted at: </h4><p>{{job.createdAt | date:'MM/dd/yyyy'}}</p>
            <h4 class="md-title">Industry: </h4><p>{{job.industry}}</p>
            <h4 class="md-title">Description: </h4><p>{{job.description}}</p>
            <h4 class="md-title">Job Type: </h4><p>{{job.job_type}}</p>
            <h4 class="md-title">Qualifications: </h4><p>{{job.qualifications}}</p>
            <h4 class="md-title">Career Level: </h4><p>{{job.career_level}}</p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="submitApplication(job.id)">Apply for job id {{job.id}}</md-button>
          </md-card-actions>
        </md-card>
      </md-content>
    </div>
  </div>
</div>
