<div layout="row" layout-align="center center">
  <div flex="50">
    <h2 class="md-headline">Your Account</h2>
    <md-content id="appNewAccountForm">
    <form name="appNewAccountForm">
      <md-content layout="row">
        <md-input-container flex=50>
          <label>First Name</label>
          <input type="text" name="firstName" ng-model="loggedInUser.first_name" required>
        </md-input-container>
        <md-input-container flex=50>
          <label>Last Name</label>
          <input type="text" name="lastName" ng-model="loggedInUser.last_name" required>
        </md-input-container>
      </md-content>
      <md-input-container>
        <label>Email</label>
        <input type="email" name="email" ng-model="loggedInUser.email" required>
      </md-input-container>
      <md-input-container>
        <label>Username</label>
        <input type="text" name="username" ng-model="loggedInUser.username" required>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" name="password" ng-model="loggedInUser.password"  required>
      </md-input-container>
      <md-input-container>
        <label>City</label>
        <input type="text" name="city" ng-model="loggedInUser.city" required></input>
      </md-input-container>
      <md-input-container>
        <label>Education</label>
        <input type="text" name="education" ng-model="loggedInUser.education" required></input>
      </md-input-container>
      <md-input-container>
        <label>Work Experience</label>
        <textarea rows="2" name="workExp" ng-model="loggedInUser.work_exp" required></textarea>
      </md-input-container>
      <md-input-container>
        <label>Resume</label>
        <textarea rows="3" type="text" name="resume" ng-model="loggedInUser.resume" required></textarea>
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit" ng-disabled="appNewAccountForm.$invalid" ng-click="saveUpdate(loggedInUser, currentUserType);closeDialog()">Save</md-button>
      </form>
    </md-content>
  </div>
</div>


