<div layout="row" layout-align="center center">
  <div flex="50">
    <h2 class="md-headline">Reset Your Password</h2>
    <md-content >
    <form>
      <md-input-container>
        <label>Choose a password</label>
        <input type="password" name="password" ng-model="resetPassword.newPassword"  required>
      </md-input-container>
      {{$stateParams}}
      {{$stateParams.token}}
      <md-input-container>
        <label>Verify password</label>
        <input type="password" ng-model="resetPassword.verified" required>
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit" ng-click="updatePassword()">Update</md-button>
      </form>
    </md-content>
  </div>
</div>


