body {
  font-family: 'Arial', 'sans-serif';
}

//APPLICANT - VIEW ALL JOBS

div.jobCard {
  md-card {
    md-card-title-text {
      span.md-subhead {
        line-height: 19px;
        padding: 0px;

        span.larger.ng-binding {
          font-size: 16px;
        }
      }
    }
    md-card-content {
      div {
        h4 {
          margin: 2px 0px;
        }
        p {
          margin: 0 0 8px 0;
        }
      }
    }
  }
}

// CONTINUED.. Sidebar styling
#jobFilterColumn {
  div {
    fieldset.standard {
      border-style: solid;
      border-width: 1px;
      height: 100%;

      legend {
        color: #3F51B5;
        cursor: pointer;
      }
      div {
        div {
          md-checkbox {
            margin: 0px;
            line-height: 21px;
          }
        }
      }
    }
  }
}


.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 900px;
}

div.md-select-menu-container.md-active.md-clickable {
  z-index: 99999;
}
