$grey: rgb(140, 140, 140);
$grey-background: rgba(238, 238, 238, 0.61);
$legendTitle: #3F51B5;
$rejected: #FEE7E7;
$green: #e7fee7;
$redWarning: #E20505;
$dialogColor: #fff;
$indigo: rgb(63,81,181);

html, body {
  height: 100%;
  font-family: 'Roboto', 'Arial', 'sans-serif';
}

.grey {
  color: $grey;
}

.noOverflow {
  overflow: hidden;
}

.prewrap {
  white-space: pre-wrap;
}

.noMargins {
  margin: 0px;
  padding: 0px;
}

span.warn {
  color: $redWarning;
  font-size: 11px;
}

.bottomSpacing {
  margin-bottom: 10px;
}

.topSpacing {
  margin-top: 10px;
}

.marginRight {
  margin-right: 8px;
}

button.bold {
  span {
    font-weight: 800;
  }
}

.indigo {
  color: $indigo;
}

//==============================-
//MAIN HEADER
//===============================

img#logo {
  height:35px;
  margin-right: 4px;
}
div#menuHome {
  height: 75%;
  cursor: pointer;
  h2 {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
  }
}

md-toolbar {
  span {
    font-weight: 900;
    letter-spacing: 0.5px;
  }
}
//===============================
// Typography
//===============================

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

//===============================
// HOME
//===============================

div#hero {
  color: #fff;
  background: linear-gradient(rgba(20,20,20, .80), rgba(20,20,20, .80)), url('/dist/imgs/evenhire_bckgrnd.jpg');
  box-shadow: 0 0px 10px black;
  background-size: cover;
  height: 600px;
  i {
    cursor: pointer;
  }
  h3 {
    @extend i;
    font-size: 32px;
  }
  a.md-button {
    span {
      font-weight: 900;
      padding: 3px 14px;
    }
  }
}
div#tagline {
  text-align: center;
}

div#about {
  margin-bottom: 30px;
  div {
    text-align: center;
  }
  span {
    font-size: 18px;
    font: rgba(0, 0, 0, 0.64);
  }
}

//===============================
// NG DIALOG
//===============================

.ngdialog.ngdialog-theme-default .ngdialog-content {
  top: -80px;
  width: 85%;
  min-width:75%;
  div {
    md-tab-content {
      span.subtitle {
        font-weight: 600;
      }
      div.headerId {
        text-align: center;
      }
    }
  }
}
html.ngdialog-open {
  overflow: visible;
}

div.md-select-menu-container.md-active.md-clickable {
  z-index: 99999;
}

// REVIEW APPLICANTS
div#appModal {
  md-content.true {
    background-color: $green;
  }
  md-content.false {
    background-color: $rejected;
  }
  button.hidden {
    min-height: 0px;
    margin: 0px;
    padding: 0px;
  }
  button.navApps {
    @extend .noMargins;
    min-width: 50px;
  }
}

//JOB CARDS (IN VIEW ALL JOBS AND RECRUITER HOME)

md-card {
  //box-shadow: 0 2px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  overflow: hidden;
  border-radius: 8px;
  margin: 14px 8px;
  md-card-title {
    padding-top: 7px;
  }
  md-card-title-text {
    span.md-subhead {
      line-height: 19px;
      padding: 0px;

      span.larger.ng-binding {
        font-size: 16px;
      }
    }
  }
  md-card-content {
    h4 {
      margin: 2px 0px;
    }
    p {
      margin: 0 0 8px 0;
    }
  }
}

md-card-content#applicantCard {

}
//===============================
// REC HOME
//===============================

div#recHomeBody {
  padding-top: 0px;
  span#messageToFade {
    margin-top: 30%;
  }
}

span.notify {
  color: $indigo;
}

// JOB POSTINGS
div#recHome {
  min-height: 1200px;
  background-color: $grey-background;
}

div#jobSide {
  md-card {
    margin-left: 2px;
  }
  md-card-title {
    padding: 16px 16px 16px;
    span.md-subhead {
      padding: 0px;
    }
  }
  md-card-content {
    padding-bottom: 10px;
  }
}

div#jobSubhead {
  padding-bottom: 0px;
  md-input-container {
    margin: 0px 7px;
    padding: 0px;
  }
  span.smallSubtext {
    @extend .grey;
    cursor: pointer;
    position: relative;
    top: 17px;
    padding-right: 3px;
  }
}

// APPLICANT LIST
div#applicantSide {
  md-card {
    margin-bottom: 4px;
  }
  md-card-content {
    p {
      margin-bottom: 0px;
    }
  }
}

md-card.true {
  background-color: $green;
}
md-card.false {
  background-color: $rejected;
}
div#applicantFilters {
  span {
    padding-left: 5px;
  }
  button.md-button {
    margin-bottom: 0px;
  }
}

i.check {
  color: #05C705;
}

// NEW JOB POSTING
div.radioButton {
  color: #BDBDBD;
}

//===============================
// APPLICANT HOME
//===============================
div#appHome {
  background-color: $grey-background;
  min-height:1200px;
  a.md-button {
    margin-left: 0px;
  }
}

span.applied {
  color: #1222C9;
}

// ALL JOBS SIDEBAR
#jobFilterColumn {
  div {
    fieldset.standard {
      border-style: solid;
      border-width: 1px;
      height: 100%;
      background-color: white;
      border-radius: 7px;

      legend {
        color: $legendTitle;
        cursor: pointer;
      }
      md-checkbox {
        margin-bottom: 4px;
        line-height: 21px;
      }
    }
  }
}

// ANIMATIONS
.animate.ng-hide-add, .animate.ng-hide-remove {
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -o-transition:all linear 0.3s;
    transition: all linear 0.3s;
}
.animate {
  opacity: 1;
}

.animate.ng-hide {
  opacity: 0;
}

//===============================
// LOGIN / SIGNUP FORMS
//===============================

// AUTH SIGN IN WITH USERNAME AND PASSWORDS
div.authForm {
  background-color: white;
  color: black;
  border-radius: 12px;
  opacity: 0.9;
  md-input-container {
    min-width: 100%;
    margin: 0px;
  }
  span.subtext {
    @extend .grey;
  }
}

div#loginbckgd {
  color: #fff;
  background: linear-gradient(rgba(20,20,20, .55), rgba(20,20,20, .55)), url('/dist/imgs/networking-bckgrnd.jpg');
  background-size: cover;
  min-height: 700px;
  div#quote {
    margin-top: 5%;
  }
  div.marginTop {
    margin-top: 3%;
  }
}

div.newAcc {
  background-color: black;
}

// AUTH CREATE AN ACCOUNT AS APPLICANT
form.signupForm {
    md-input-container {
      margin: 0px;
    }
}

// FORGOT PASSWORD
div#ngdialog1.ngdialog.ngdialog-theme-default, div#ngdialog2.ngdialog.ngdialog-theme-default {
  div.ngdialog-content {
  width: 80%;
  min-width: 50%;
  }
}

