$grey: rgb(140, 140, 140);
$legendTitle: #3F51B5;
$red: #FFDCDC;
$green: rgba(0, 151, 0, 0.38);
$dialogColor: #fff;

body {
  font-family: 'Roboto', 'Arial', 'sans-serif';
}

.grey {
  color: $grey;
}

.prewrap {
  white-space: pre-wrap;
}

.noMargins {
  margin: 0px;
  padding: 0px;
}

// MAIN HEADER
div#menuHome {
  cursor: pointer;
  h2 {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1px;
  }
}

// HOME
div#hero {
  color: #fff;
  background: linear-gradient(rgba(20,20,20, .75), rgba(20,20,20, .75)), url('/dist/imgs/evenhire_bckgrnd.jpg');
  background-size: cover;
  height: 525px;
}

// NG DIALOG
.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 1200px;
    div {
      md-tab-content {
        span.subtitle {
          font-weight: 600;
        }
        div.headerId {
          text-align: center;
        }
      }
    }
}
html.ngdialog-open {
  overflow: visible;
}

div.md-select-menu-container.md-active.md-clickable {
  z-index: 99999;
}

//NG DIALOG REVIEW APPLICANTS
div#appModal {
  md-content.true {
    background-color: $green;
  }
  md-content.false {
    background-color: $red;
  }
  button.hidden {
    min-height: 0px;
  }
  button.navApps {
    @extend .noMargins;
    max-height: 150px;
    min-width: 50px;
  }
}

//JOB CARDS (IN VIEW ALL JOBS AND RECRUITER HOME)

md-card {
  margin: 14px 8px;
  md-card-title-text {
    span.md-subhead {
      line-height: 19px;
      padding: 0px;

      span.larger.ng-binding {
        font-size: 16px;
      }
    }
  }
  md-card-content {
    h4 {
      margin: 2px 0px;
    }
    p {
      margin: 0 0 8px 0;
    }
  }
}
md-card.true {
  background-color: $green;
}
md-card.false {
  background-color: $red;
}

md-card-content#applicantCard {

}

// JOB POSTINGS IN REC HOME
div.recHome {
  md-card-title {
    padding: 16px 16px 16px;
    span.md-subhead {
      padding: 0px;
    }
  }
  md-card-content {
    padding-bottom: 10px;
  }
}

div#jobSubhead {
  padding-bottom: 0px;
  md-input-container {
    margin: 0px 7px;
    padding: 0px;
  }
  span.smallSubtext {
    @extend .grey;
    cursor: pointer;
  }
}

div#jobsBody {
  padding-top: 0px;
}

// Animations
.animate.ng-hide-add, .animate.ng-hide-remove {
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -o-transition:all linear 0.3s;
    transition: all linear 0.3s;
}
.animate {
  opacity: 1;
}

.animate.ng-hide {
  opacity: 0;
}


// CONTINUED.. Sidebar styling
#jobFilterColumn {
  div {
    fieldset.standard {
      border-style: solid;
      border-width: 1px;
      height: 100%;

      legend {
        color: $legendTitle;
        cursor: pointer;
      }
      md-checkbox {
        margin-bottom: 4px;
        line-height: 21px;
      }
    }
  }
}

// AUTH SIGN IN WITH USERNAME AND PASSWORDS
div.authForm {
  md-input-container {
    margin: 0px;
  }
  span.subtext {
    @extend .grey;
  }
}

// AUTH CREATE AN ACCOUNT AS APPLICANT
form.signupForm {
    md-input-container {
      margin: 0px;
    }
}
