<div class="dialog-contents">
  <h2 class="md-headline">Forgot Your Password?</h2>
  <md-content layout-padding>
    <form id="appForgotPassword" name="appForgotPassword">
      <div layout="column">
        <md-input-container>
          <label>Enter your email</label>
          <input type="email" name="email" ng-model="recoverUser.email" required>
        </md-input-container>
        <div layout="row" layout-align="end start">
          <md-button class="md-raised md-primary" type="submit" ng-disabled="appForgotPassword.$invalid" ng-click="sendEmail(recoverUser, 'applicant')">Send</md-button>
        </div>
      </div>
    </form>
  </md-content>
</div>
