<div class="loginbckgd" layout="row" layout-padding layout-align="end start">
  <div class="authForm" flex="75" flex-gt-xs="35" flex-sm="50">
    <h2 class="md-headline">Applicants Login</h2>
    <form>
      <div layout="column">
        <md-input-container flex>
          <label>Username</label>
          <input type="text" ng-model="user.username" required/>
        </md-input-container>
        <md-input-container class="topSpacing" flex>
          <label>Password</label>
          <input type="password" ng-model="user.password" required/>
          <span class="warn">{{message}}</span>
        </md-input-container>
        <div layout="row">
          <div flex layout="column">
            <span class="md-caption subtext">Don't have an Evenhire applicant account? <a ui-sref="appNewAcc">Sign up</a><br>
            <a href="" ng-click="forgotPassword()">Forgot your password?</a></span>
          </div>
          <md-button class="md-raised md-primary bold" type="submit" ng-click="logIn()">Submit</md-button>
        </div>
      </div>
    </form>
  </div>
</div>
