<div layout="row" layout-align="center center">
  <div flex="50">
    <h2 class="md-headline">Forgot Your Password?</h2>
    <md-content>
    <form name="recForgotPassword">
      <md-input-container>
        <label>Forgot Your Password?
Enter the email address associated with your account and we’ll send you instructions to reset your password.</label>
        <input type="email" name="email" ng-model="recoverUser.email" required>
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit" ng-disabled="recForgotPassword.$invalid" ng-click="sendEmail(recoverUser, 'recruiter')">Send</md-button>
      </form>
    </md-content>
  </div>
</div>