<div layout="column" class="loginbckgd">
  <div layout="row" class="marginTop" layout-padding layout-align="end start">
    <div flex="60" layout="column" layout-align="end center">
      <div flex class="marginTop" layout="column" layout-align="start start">
        <div flex layout="row" layout-align="center center">
          <i class="material-icons marginRight md-36">tune</i>
          <h3>Custom filters to process applicants</h3>
        </div>
        <div flex layout="row" layout-align="center center">
          <i class="material-icons marginRight md-36">favorite_border</i>
          <h3>Tracking system for follow up reminders</h3>
        </div>
        <div flex layout="row" layout-align="center center">
          <i class="material-icons marginRight md-36">email</i>
          <h3>Internal email system that handles all contact</h3>
        </div>
      </div>
    </div>
    <div class="authForm" flex="75" flex-gt-xs="35" flex-sm="50" layout-margin>
      <h2 class="md-headline">Recruiters Login</h2>
      <form name="recLogin">
        <div layout="column">
          <md-input-container flex>
            <label>Username</label>
            <input type="text" ng-model="user.username" required/>
          </md-input-container>
          <md-input-container class="topSpacing" flex>
            <label>Password</label>
            <input type="password" ng-model="user.password" required/>
            <span class="warn">{{message}}</span>
          </md-input-container>
          <div layout="row">
            <div flex layout="column">
              <span class="md-caption subtext">Don't have an Evenhire recruiter account? <a ui-sref="recNewAcc">Sign up</a><br>
              <a href="" ng-click="forgotPassword()">Forgot your password?</a></span>
            </div>
            <md-button class="md-raised md-primary" type="submit" ng-click="logIn()" />Submit</md-button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="quote" flex layout="row" layout-align="center start">
    <i class="material-icons md-48">format_quote</i>
    <h2>Diversify your team and remove the bias from recruiting.</h2>
    <i class="material-icons md-48">format_quote</i>
  </div>
</div>
