<div layout="row" layout-align="center center">
  <div class="authForm" flex="50">
    <h2 class="md-headline">Recruiters Login</h2>
    <form name="recLogin">
      <div layout-align="column">
        <div flex layout="row">
          <md-input-container flex="50">
            <label>Username</label>
            <input type="text" ng-model="user.username" required/>
          </md-input-container>
          <md-input-container flex="50">
            <label>Password</label>
            <input type="password" ng-model="user.password" required/>
          </md-input-container>
        </div>
        <div layout="row">
          <div flex layout="column">
            <span class="md-caption subtext">Don't have an Evenhire recruiter account? <a ui-sref="recNewAcc">Sign up</a><br>
            <a href="" ng-click="forgotPassword()">Forgot your password?</a></span>
          </div>
          <md-button class="md-raised md-primary" type="submit" ng-click="logIn()" />Submit</md-button>
        </div>
      </div>
    </form>
  </div>
</div>
