<div layout="column">
  <div flex id="hero" layout="row" layout-align="center center">
    <div flex="40" layout="column" layout-align="center center">
      <h3>Recruiters</h3>
      <md-button ui-sref="recruiters" class="md-raised md-primary">Go to your dashboard</md-button>
    </div>
    <div flex="40" layout="column" layout-align="center center">
      <h3>Applicants</h3>
      <md-button ui-sref="allJobs" class="md-raised md-primary">View job postings</md-button>
    </div>
  </div>
  <div flex layout="column" layout-align="center center">
    <div>
      <h2>Remove the unconscious bias. Take your recruiting even higher.</h2>
    </div>
  </div>
</div>
